
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <h3>投稿一覧</h3>
    <div class="col-md-8">
      
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center ">
    <h1>Calcio.com</h1>

    <h2>
      イタリアサッカー情報のすべてを共有しよう！
    </h2>

    <%= link_to "新規登録はこちら!", signup_path, class: "btn btn-lg " %>
  </div>

<% end %>