<% provide(:title, "セリエAチーム") %>

<h1>セリエAチーム一覧</h1>
<p>2018-2019シーズンのセリエAのチーム一覧のリンクページです。</p>

<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("juve.jpg", :size =>'180x180', alt: "juve"),
        'http://www.juventus.com/it/', :target=>["_blank"]%>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("napoli.jpg", :size =>'180x180', alt: "napoli"),
        'http://www.sscnapoli.it/prehome/html/index.html', :target=>["_blank"]%>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("inter.jpg", :size =>'180x180', alt: "inter"),
        'https://www.inter.it/it/hp', :target=>["_blank"]%>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("lazio.jpg", :size =>'180x180', alt: "lazio"),
        'http://www.sslazio.it/it/', :target=>["_blank"]%>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("milan.png", :size =>'180x180', alt: "milan"),
        'https://www.acmilan.com/it', :target=>["_blank"]%>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("roma.jpg", :size =>'180x180', alt: "roma"),
        'https://www.asroma.com/it', :target=>["_blank"]%>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("sassuolo.jpg", :size =>'180x180', alt: "sassuolo"),
        'http://www.sassuolocalcio.it/', :target=>["_blank"]%>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("atalanta.jpg", :size =>'180x180', alt: "atalanta"),
        'https://www.atalanta.it/', :target=>["_blank"]%>
        </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("sampdoria.jpg", :size =>'180x180', alt: "sampdoria"),
        'http://parmacalcio1913.com/', :target=>["_blank"]%>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("parma.png", :size =>'180x180', alt: "parma"),
        'http://parmacalcio1913.com/', :target=>["_blank"]%>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("viola.jpg", :size =>'180x180', alt: "viola"),
        'http://en.violachannel.tv/', :target=>["_blank"]%>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("torino.jpg", :size =>'180x180', alt: "torino"),
        'http://torinofc.it/en', :target=>["_blank"]%>
        </div>
    </div>
  </div>
    <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("genoa.png", :size =>'180x180', alt: "genoa"),
        'https://genoacfc.it/', :target=>["_blank"]%>
        </div>
    </div>
  </div>
    <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("spal.jpg", :size =>'180x180', alt: "spal"),
        'http://www.spalferrara.it/', :target=>["_blank"]%>
        </div>
    </div>
  </div>
    <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("bolonha.jpg", :size =>'180x180', alt: "bolonha"),
        'https://www.bolognafc.it/', :target=>["_blank"]%>
        </div>
    </div>
  </div>
    <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("empoli.jpg", :size =>'180x180', alt: "empoli"),
        'http://www.empolicalcio.it/', :target=>["_blank"]%>
        </div>
    </div>
  </div>
    <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("udinese.jpg", :size =>'180x180', alt: "udinese"),
        'http://www.udinese.it/', :target=>["_blank"]%>
        </div>
    </div>
  </div>
    <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("frosinone.jpg", :size =>'180x180', alt: "frosinone"),
        'https://www.frosinonecalcio.com/it/', :target=>["_blank"]%>
        </div>
    </div>
  </div>
    <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("cagliari.jpg", :size =>'180x180', alt: "cagliari"),
        'https://www.cagliaricalcio.com/', :target=>["_blank"]%>
        </div>
    </div>
  </div>
    <div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-body">
            <%= link_to image_tag("chievo.jpg", :size =>'180x180', alt: "chievo"),
        'http://www.chievoverona.it/it', :target=>["_blank"]%>
        </div>
    </div>
  </div>
  

</div>